body, html {
    height: 100%;
    margin: 0;
}

.parallax1 {
  background-image: url('images/shine.png');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url('images/aucsetic.png');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text{
  height:200px;
  background-color:gray;
  font-size:36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: fantasy;
}

.parallax3 {
  background-image: url('images/light2-1.png');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  background-image: url('images/helluntitled.png');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  background-image: url('images/cup.png');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 500px) {


  .parallax1 {
    height: 50%;
    width: 100vw;
    background-attachment: scroll;
    background-position: center;
    position: relative;
  }

  .parallax2 {
    height: 50%;
    width: 100vw;
    background-attachment: scroll;
    background-position: left;
    position: relative;
  }

  .parallax3 {
    height: 50%;
    width: 100vw;
    background-attachment: scroll;
    background-position: center;
    position: relative;
  }

  .parallax4 {
    height: 50%;
    width: 100vw;
    background-attachment: scroll;
    background-position: center;
    position: relative;
  }

  .parallax5 {
    height: 50%;
    width: 100vw;
    background-attachment: scroll;
    background-position: center;
    position: relative;
  }



  .text {
    height: 30%;
    width: 100%;
    font-size: 1.5em;
  }

  .texttext {
    width: 100%;
    text-align: center;
  }
}
