body {
  color: black;
  margin: 0;
  font-family: 'Lora', serif;
  text-align: center;
}

.image {
  height: 400px;
  width: 100vw;
  background-image: url(https://images.adsttc.com/media/images/5b57/5c76/f197/cc65/2900/003f/newsletter/17088729869_8508ee1ec7_h.jpg?1532451952);
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;

}

.myButton {
	border-radius:28px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  margin: 0.5em;
}

.myButton:hover {
	background-color:#ccc2a6;
}

.space {
  width: 100%;
  height: 10px;
}


nav {
  height:75px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

}

h1 {
  color: white;
  padding: 0 0.3em;
  font-family: 'Lora', serif;
  font-size: 5em;
  margin: 0;
}

section{
  margin:100px 75px;
  display:flex;
  flex-direction:column;
}

p{
  height: 100%;
  margin: 0 0 75px 0;
  width:100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 110%;
}


.container {
  height: 100%;
  width:100%;
  display:flex;
  justify-content: space-between;
  position: static;
}

.all {
  height: 50%;
  width:50%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}


.secondbox {
  height:100%;
  width:88%;
  font-size: 110%;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.firstboxone {
  height:400px;
  width:88%;
  margin:0;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/La_Rotonda.jpg/424px-La_Rotonda.jpg);
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-position: center;

}

.firstboxtwo {
  height:400px;
  width:88%;
  margin:0;
  background-image: url(https://naurok-test.nyc3.cdn.digitaloceanspaces.com//uploads/test/716242/281626/226738_1587484775.jpg);
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-position: center;

}

.PreFooter{
  height: 40px;
  background-color: silver;
  font-family:Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

footer{
  height:100px;
  background-color: black;
  color: white;
  font-family:Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
}








@media (max-width: 500px) {
  section{
  margin: 2% 0 10% 0;
  padding: 1%;
  height: 80%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  }

  .container {
    display:flex;
    flex-direction:column;
    justify-content: center;
  }

  .image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0 10%;
    width: 100%;
  }

  nav {
    margin:0;
    height:50%;
    width: 100%;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
  }

  h1 {
    font-size: 310%;
  }
  .myButton {
    background-color:  rgba(255, 138, 106, 0.5);
  }

  .secondbox {
    width: 100%;

  }

  .firstboxone  {
    height: 200px;
    width: 50%;
    background-position:  center;
    margin: 0px;
    padding: 0;

  }

  .firstboxtwo {
    height: 200px;
    width: 50%;
    background-position:  center;
    box-sizing: border-box;
    margin: 0px;
  }

  p{
    margin: 0 0 10%;
    height: 100%;
  }
}
