h1 {
  margin: 0;
  font-family: 'Satisfy', cursive;
  font-size: 4em;
}

body {
    color: #577d01;
    font-size: 110%;
    font-family: 'Grenze Gotisch', cursive;
    font-family: 'Nunito', sans-serif;
    margin: 0;

}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #bfdcae;
  border-width: 3.5px;
  width: 98%;
}

.line {
  border: 1px solid  #bfdcae;
  margin: 0;
  width: 100vw;
}

#fat {
  color: #206a5d;
  line-height: 150%;
}

h3 {
  color: #206a5d ;
}

table {
  line-height: 2;
}

thead {
  font-size: 120%;
  color: #206a5d;
}

img {
  padding: 30px;
}

/*img:hover {
  opacity: 0.9;
  transition: opacity .5s;
}*/

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  color: #a4b494;
}

.low {
  font-weight: lighter;
}

.bigdiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 110%;
  background-color:#f1f1e8  ;
  margin: 0;

}

.containerimage {
  padding: 10px;
}

.containerp {
  margin: 0;

}

section {
  padding: 1% 2%;
  margin: 2em 0 2em 0;

}

.allskills {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.skills {
  display: flex;
  justify-content: space-around;
  margin: auto auto 20px auto;
}

nav {
  height: 3em;
  color:  #bfdcae;
  background-color:  #9ad3bc;
}

.container {
  padding: 10px;
}

.space {
  height: 3em;
  display: flex;
  align-items: center;
}

.olcontainer {
  margin: 0 auto;
}

.footerblock {
  height: 3em;

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

footer{
  height: 3em;
  background-color:  #68b0ab;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1400px) {
  .bigdiv {
    height: 100%;
    box-sizing: border-box;
    padding: 3%;
  }

  #fat {
    margin:3%;
  }

  .containerimage {
    width: 50%;
    height: 50%;
    margin: 5%;
  }

  .skills {
    margin: 0;
    width: 100%;
    display: flex;

    justify-content: space-around;
  }

  .allskills {
    display: flex;
    flex-direction: row;
  }

  .stars {
    display: none;
  }

  .footerblock {
    width: 100%;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

  }


}
